/* Css till slutuppgift */

#wrapper{
margin:0 auto;
max-width:750px;
}
h1{
	text-align:center;
	color:red;
}
.hoger img {
	max-width: 100%;
}
@media (min-width: 500px) {


#main {
	max-width: 1200px;
	margin: 0 auto;
	min-width: 500px;
	
}
nav {
	width: 120px;
	float: left;

}
#navlist li{
	list-style-type: none;
	padding-right: 20px;
	list-style-type: none;
}
div.hoger {
	margin-left: 130px;
	background-color: #efefef;
}


}