/* Tillfällig css fil som jag anävnder för att det inte ska krocka i github */

body{
	background-color:#E3E9F5;
}
#wrapper{
margin:0 auto;
max-width:75%;
background-color:white;
padding-bottom:20px;
}
h1,h2{
	text-align:center;
	color:red;
}
/* <-----------------navbar------------> */

nav
{
font-family: Arial,Sans-Serif;
margin: 0 auto;
border-bottom: 1px solid #ddd;
}

#navlist
{
text-align: center;
margin: 0 auto;
padding: 0;
text-indent: 0;
list-style-type: none;
}

#navlist li
{
padding: 0;
margin: 0;
text-indent: 0;
display: inline;
}

#navlist li a
{
letter-spacing: -1px;
text-decoration: none;
color: #ccc;
font-size: 1em;
padding: 0 2px;
border-top: .5em solid #eee;
}

#navlist li a:hover,#navlist a#current
{
color: #333;
border-top: none;
font-size: 1.5em;
}

#navlist a#current { color: #fc6; }



/* <-----------------navbar------------> */
/*#startsida #navlist li{
	display: inline;
	list-style-type: none;
	padding-right: 50px;
}*/
/* #startsida #navlist li:first-of-type{
padding-left:25%;
} */


footer{
	padding-top:10px;
	padding-left:20px;
}
.bild{
margin-top:5%;
}
.Nslider {
text-align:center;
}
.camping{
float:left;
width:50%;
background-color:blue;
}
.stranden{
/* width:50%; */
}
#slider{
max-width:600px;
margin: 0 auto;
margin-top:10px;
}